version: '3.8'
services:
  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    container_name: backend
    image: backend
    restart: unless-stopped
    env_file: ./backend/app.env
    volumes:
      - ./backend/logs:/app/logs
    depends_on:
      - postgresdb
    ports:
      - "3001:3001"
      - "5000:5003"
    networks:
      - backend

  postgresdb:
    build:
      context: db
      dockerfile: Dockerfile
    image: postgresdb
    container_name: postgresdb
    restart: unless-stopped
    volumes:
      - postgresvolume:/var/lib/postgresql/data
    env_file: 
      - ./db/db.env
    ports:
      - "5432:5432"
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgresvolume:
    driver: local